<a href="https://colab.research.google.com/github/Raquelodaka/Projeto_IA_emprestimobancario/blob/main/IA_project_Git.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

bc = pd.read_csv('teste.csv')
display(bc)

,util_linhas_inseguras,idade,vezes_passou_de_30_59_dias,razao_debito,salario_mensal,numero_linhas_crdto_aberto,numero_vezes_passou_90_dias,numero_emprestimos_imobiliarios,numero_de_vezes_que_passou_60_89_dias,numero_de_dependentes
0,0.025849,62,0,0.081775,8180.0,3,0,2,0,0.0
1,0.667083,55,0,0.153112,2200.0,3,0,0,0,0.0
2,0.007093,44,0,0.148800,7499.0,20,0,1,0,0.0
3,0.091213,54,0,0.351635,5900.0,15,0,1,1,0.0
4,0.112680,54,0,0.065959,2167.0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
39995,0.000000,68,1,0.062858,10833.0,9,1,0,0,0.0
39996,0.061117,84,0,0.013598,8456.0,7,0,0,0,0.0
39997,0.817745,70,0,0.663056,6000.0,17,0,2,0,0.0
39998,0.106139,64,2,0.865438,5045.0,12,0,4,0,0.0
39999,1.000000,28,0,0.002285,3500.0,0,1,0,0,0.0

In [ ]:
bc.rename(
    columns={
        "salario_mensal": "salario"
    }
)

,util_linhas_inseguras,idade,vezes_passou_de_30_59_dias,razao_debito,salario,numero_linhas_crdto_aberto,numero_vezes_passou_90_dias,numero_emprestimos_imobiliarios,numero_de_vezes_que_passou_60_89_dias,numero_de_dependentes
0,0.025849,62,0,0.081775,8180.0,3,0,2,0,0.0
1,0.667083,55,0,0.153112,2200.0,3,0,0,0,0.0
2,0.007093,44,0,0.148800,7499.0,20,0,1,0,0.0
3,0.091213,54,0,0.351635,5900.0,15,0,1,1,0.0
4,0.112680,54,0,0.065959,2167.0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
39995,0.000000,68,1,0.062858,10833.0,9,1,0,0,0.0
39996,0.061117,84,0,0.013598,8456.0,7,0,0,0,0.0
39997,0.817745,70,0,0.663056,6000.0,17,0,2,0,0.0
39998,0.106139,64,2,0.865438,5045.0,12,0,4,0,0.0
39999,1.000000,28,0,0.002285,3500.0,0,1,0,0,0.0

In [ ]:
#visualizar as colunas
bc.columns.values

array(['util_linhas_inseguras', 'idade', 'vezes_passou_de_30_59_dias',
       'razao_debito', 'salario_mensal', 'numero_linhas_crdto_aberto',
       'numero_vezes_passou_90_dias', 'numero_emprestimos_imobiliarios',
       'numero_de_vezes_que_passou_60_89_dias', 'numero_de_dependentes'],
      dtype=object)

In [ ]:
#apagandocolunas que não serão utilizadas no modelo
bc.drop('razao_debito', axis= 1, inplace=True)
bc.drop('numero_de_dependentes', axis= 1, inplace=True)
bc.drop('vezes_passou_de_30_59_dias', axis= 1, inplace=True)
bc.drop('numero_linhas_crdto_aberto', axis= 1, inplace=True)
bc.drop('numero_vezes_passou_90_dias', axis= 1, inplace=True)
bc.drop('numero_emprestimos_imobiliarios', axis= 1, inplace=True)
bc.drop('numero_de_vezes_que_passou_60_89_dias', axis= 1, inplace=True)


bc

       util_linhas_inseguras  idade  salario_mensal
0                   0.025849     62          8180.0
1                   0.667083     55          2200.0
2                   0.007093     44          7499.0
3                   0.091213     54          5900.0
4                   0.112680     54          2167.0
...                      ...    ...             ...
39995               0.000000     68         10833.0
39996               0.061117     84          8456.0
39997               0.817745     70          6000.0
39998               0.106139     64          5045.0
39999               1.000000     28          3500.0

[40000 rows x 3 columns]

In [ ]:
#Alterar tipo da coluna 'util_linhas_inseguras' de float para bool a fim de fixar
#False para não risco e True para risco nessa coluna 
bc.dtypes
bc['util_linhas_inseguras'] = bc['util_linhas_inseguras'].astype('bool')
bc.dtypes
bc

       util_linhas_inseguras  idade  salario_mensal
0                       True     62          8180.0
1                       True     55          2200.0
2                       True     44          7499.0
3                       True     54          5900.0
4                       True     54          2167.0
...                      ...    ...             ...
39995                  False     68         10833.0
39996                   True     84          8456.0
39997                   True     70          6000.0
39998                   True     64          5045.0
39999                   True     28          3500.0

[40000 rows x 3 columns]

In [ ]:
bc.rename(
    columns={
        "salario_mensal": "salario"
    }
)

       util_linhas_inseguras  idade  salario
0                       True     62   8180.0
1                       True     55   2200.0
2                       True     44   7499.0
3                       True     54   5900.0
4                       True     54   2167.0
...                      ...    ...      ...
39995                  False     68  10833.0
39996                   True     84   8456.0
39997                   True     70   6000.0
39998                   True     64   5045.0
39999                   True     28   3500.0

[40000 rows x 3 columns]

In [ ]:
#valor  minimo da coluna 'util_linhas_inseguras' para verificar a margem de risco utilizada
bc['util_linhas_inseguras'].min()

False

In [ ]:
#valor  minimo da coluna 'util_linhas_inseguras' para verificar a margem de risco utilizada
bc['util_linhas_inseguras'].max()

True

In [ ]:
bc['util_linhas_inseguras'].value_counts()

True     37105
False     2895
Name: util_linhas_inseguras, dtype: int64

In [ ]:
bc = bc.fillna('0')

In [ ]:
bc.dtypes
bc['idade'] = bc['idade'].astype('int')
bc

       util_linhas_inseguras  idade salario_mensal
0                       True     62         8180.0
1                       True     55         2200.0
2                       True     44         7499.0
3                       True     54         5900.0
4                       True     54         2167.0
...                      ...    ...            ...
39995                  False     68        10833.0
39996                   True     84         8456.0
39997                   True     70         6000.0
39998                   True     64         5045.0
39999                   True     28         3500.0

[40000 rows x 3 columns]

In [ ]:
# #title Texto de título predefinido
# plt.figure(figsize=(15, 8))
# plt.scatter(bc[bc.util_linhas_inseguras =='True'].idade, [bc.util_linhas_inseguras =='True'].salario_mensal
# plt.scatter(bc[bc.util_linhas_inseguras =='False'].idade,[bc.util_linhas_inseguras =='False'].salario_mensal
# plt.xlabel('idade')
# plt.ylabel( 'salario_mensal')
# plt.legend(['True', 'False'])

SyntaxError: ignored

In [ ]:
X = bc.drop('util_linhas_inseguras', axis=1)
y = bc.util_linhas_inseguras

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3)


knn.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn.predict([[50, 90]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([ True])

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
X_train, X_test, y_train, y_test= train_test_split(X, y, train_size=2/3)

In [ ]:
knn.fit(X_train, y_train)

accuracy_score(y_test, knn.predict(X_test))

0.9187790610469476